body {
    font-family: 'Merriweather Sans', sans-serif;
    overflow: hidden;
}
#intro{
    position: absolute;
    margin:0 auto;
    height: 100vh;
    width: 100%;
    margin-top: 15vh;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    color: #505050;
}
.title {
    color: #693393;
    font-size: 8rem;
    font-family: 'Baloo', cursive;
    /* letter-spacing: 0.3em; */
}
