body, html {
    /* position: relative; */
    font-family: 'Merriweather Sans', sans-serif;
    overflow: hidden;
}
.hide {
    width: 0 !important;
    overflow: hidden;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.hidden {
    display: none;
}
ul {
    padding-left: 0;
}
li {
    list-style: none;
}
/*IE9*/
*::selection
{
    background-color:transparent;
}
*::-moz-selection
{
    background-color:transparent;
}
*
{
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    /*IE10*/
    -ms-user-select: none;
    user-select: none;

    /*You just need this if you are only concerned with android and not desktop browsers.*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input[type="text"], textarea, [contenteditable]
{

    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
 /* INTRO */
#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #faf6eb;
    z-index: 5;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    text-align: center;
}
.title {
    color: #693393;
    font-size: 7rem;
    font-family: 'Baloo', cursive;
}
.subtitle {
    font-size: 1.8rem;
    font-weight: bold;
    color: #505050;
}
#intro {
    z-index: 5;
}
#intro a {
    margin-top: 5vh;
    font-size: 1.2rem;
    text-decoration: none;
    background-color: #693393;
    color: white;
    line-height: 15rem;
    padding: 0.5rem 5rem;
    border-radius: 15px;
}
#intro a:hover {
    /* color: */
}

/* INTERFACE */
.interface {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.color-container {
    position: absolute;
    top: 50%;
    left: 2%;
    text-align: center;
    transform: translate(-2%, -50%);
}
.mood-container {
    position: absolute;
    left: 15%;
    top: 50%;
    text-align: center;
    transform: translate(-15%, -50%);
}
.color {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    font-size: 0;
    margin: 30% 0;
    border: 5px solid grey;
    cursor: pointer;
}
.mood {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin: 30% 0;
    border: 5px solid grey;
    line-height: 5rem;
    background-color: white;
    cursor: pointer;
}
.selected {
    border: 5px solid #693393;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#controls {
    width: 0;
    overflow: hidden;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#black {
    background-color: #56544E;
}
#white {
    background-color: #F5F1EC;
}
#brown {
    background-color: #cea467;
}
#gold {
    background-color: #f5e2a6;
}


/* QUOTES  */

#quoteDisplay{
    width:100%;
    position: absolute;
    /* left: 0; */
    /* right: 0; */
    margin-left: auto;
    margin-right: auto;
    background-color:#eeece1;
    color:#81807c;
    text-align:center;
    font-size:3rem;
    padding-top:3%;
    padding-bottom:3%;
}

#toggleInterface {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1rem;
    cursor: pointer;
}
@media only screen and (max-width: 720px) {
    .title {
        font-size: 5rem;
    }
    .subtitle {
        font-size: 1rem;
    }
    #intro a {
        font-size: 1rem;
        padding: 0.5rem 4rem;
    }
    li {
        display: inline-block;
    }
    .color-container {
        width: 100%;
        left: 50%;
        top: 5%;
        transform: translate(-50%, -5%);
    }
    .mood-container {
        width: 100%;
        left: 50%;
        top: 90%;
        transform: translate(-50%, -90%);
    }
    .color, .mood {
        margin: 0;
    }
    #quoteDisplay {
        font-size:2rem;
    }
    #toggleInterface {
        margin-bottom: 0.5rem;
        z-index:4;
    }
}
@media only screen and (max-width: 500px) {
    .title {
        font-size: 3rem;
    }
    .subtitle {
        font-size: 0.8rem;
    }
    #intro a {
        font-size: 0.8rem;
        padding: 0.5rem 3rem;
    }
    .color, .mood {
        width: 3.5rem;
        height: 3.5rem;
        line-height: 3.5rem;
    }
    .mood {
        font-size: 0.8rem;
    }
    #quoteDisplay {
        font-size:1rem;
    }
    #toggleInterface {
    position: absolute;
    width:40px;
    bottom: 40%;
    left: 10%;
    /* transform: translate(-50%, -50%); */
    margin: 0 auto;
    /* text-align: center; */
    margin-bottom: 1rem;
    cursor: pointer;
    }
}
